:root {
    --color-control: blueviolet;
    --color-control-text: rgb(75, 25, 121);
    --color-control-hover: rgb(182, 135, 226);
    --width-slider: 60vw;
    --width-img: 90%;
    --height-picture: calc(var(--width-slider) * 0.7);
    --border-radius-main: 0.5em;
    --width-mobile: 31.25em;
    --width-slider-mobile: calc(var(--width-mobile) * 0.6);
    --width-slider-min: 10em;
    --height-picture-mobile: calc(var(--width-slider-mobile) * 0.7);
    --height-picture-min: 7em;
  }
 

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-control-text);
    font-family: 'Helvetica', sans-serif;
    font-weight: 600;
}

.slider{
    margin: 1em auto;
    padding: 0 1em 1em 1em;
    max-width: 60vw;
    border-radius: var(--border-radius-main);
    border: 0.05em solid var(--color-control-hover);
}

@media (max-width: 31.25em) {
    .slider{
       max-width: var(--width-slider-mobile);
       width: max(var(--width-slider-min), 100vw);
    }
}

.container{
    width: 100%;
}

.picture-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--border-radius-main);
    width: var(--width-img);
}

.container-radio{
   visibility: hidden;
   width: 0;
   height: 0;
}

.controls{
    display: flex;
}

.control-decorate{
    margin: 0.6em;
    padding: 0.4em;
    border-radius: 50%;
    border-color: var(--color-control);
    border-width: 0.1em;
    border-style: solid;
}

.control:hover{
    cursor: pointer;
}

.control:hover .control-decorate{
    background-color: var(--color-control-hover);
    box-shadow: 0 0 1em 0.15em var(--color-control);
    transition: 0.5s;
    
}

.slider-footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(5% - 0.8em) 0 5%;
}

@media (max-width: 31.25em) {
    .slider-footer{
        flex-direction: column;
        padding: 0.1em 5%;
    }
}

.titles{
    align-self: center;
}

@media (max-width: 31.25em) {
    .titles{
        align-self: flex-start;
    }
}

.picture1,
.picture2,
.picture3,
.picture4{
    visibility: hidden;
    width: 0;
    height: 0;
    transform:scaleX(0) translateX(-100%);
}

#slider1:checked ~ .picture1,
#slider2:checked ~ .picture2,
#slider3:checked ~ .picture3,
#slider4:checked ~ .picture4{
    visibility: visible;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--height-picture);
    transform:scaleX(1) translateX(0);
    transition: transform 0.7s ease-in-out;
}


@media (max-width: 31.25em) {
    #slider1:checked ~ .picture1,
    #slider2:checked ~ .picture2,
    #slider3:checked ~ .picture3,
    #slider4:checked ~ .picture4{
        height: min(var(--height-picture-mobile), 
                    max(var(--height-picture-min), 
                        calc(100vw / 110 * 70)));
    }
    
}

.title1, 
.title2, 
.title3, 
.title4{
    visibility: hidden;
    width: 0;
    height: 0;
    transform: translate(-1em);
} 

#slider1:checked ~ * .title1,
#slider2:checked ~ * .title2,
#slider3:checked ~ * .title3,
#slider4:checked ~ * .title4
{
    visibility: visible;
    width: 100%;
    height: 100%;
    transform: translate(0);
    transition: transform 0.5s ease-in-out;
}

#slider1:checked ~ * .control-active1,
#slider2:checked ~ * .control-active2,
#slider3:checked ~ * .control-active3,
#slider4:checked ~ * .control-active4{
    background-color: var(--color-control);
}


